<div class="wrap">
    <div class="row">
        <div class="col-8"><h1>Editar Contato</h1></div>
        <div class="col-4 text-right"><a href="{{base_url}}/wp-admin/admin.php?page=contact-management" class="btn btn-success">Voltar</a></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
          <form class="ajaxDados" action="{{ base_url }}/wp-json/cm/v1/people/editar?_wpnonce={{nonce}}" method="post">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" value="{{ nome }}" required>
                  </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="{{ email }}" required>
                </div>
                <input type="hidden" name="base_url" id="base_url" value="{{ base_url }}">
                <input type="hidden" name="nonce" id="nonce" value="{{nonce}}">
                <input type="hidden" name="id" id="id" value="{{id}}">
                <button type="submit" class="btn btn-primary">Salvar</button>
              </form>
        </div>
    </div>
</div>