<div class="wrap">
    <div class="row">
        <div class="col-8">
            <h1>Contatos</h1>
        </div>
        <div class="col-4 text-right"><a href="{{base_url}}/wp-admin/admin.php?page=contact-management&action=novo"
                class="btn btn-info">Adicionar Nova Pessoa</a></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div id="poststuff" style="min-width: inherit;background: #fff">
                <div id="postbox-container-2" class="postbox-container">
                    <div id="normal-sortables" class="meta-box-sortables ui-sortable">
                        <div id="lista-arquivo" class="postbox" style="background: #f7f7f7">
                            <div class="postbox-header">
                                <h2 class="hndle ui-sortable-handle">Lista de Pessoas</h2>
                            </div>
                            <div class="inside">
                                <table id="lista-personalizada" class="table table-striped table-bordered"
                                    role="presentation">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>E-mail</th>
                                            <th>Contatos</th>
                                            <th>Ação</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, pessoa in pessoas %}
                                        <tr>
                                            <td>{{ pessoa.getId() }}</td>
                                            <td>{{ pessoa.getNome() }}</td>
                                            <td>{{ pessoa.getEmail() }}</td>
                                            <td>
                                                <ul>
                                                    {% for k, contato in pessoa.getContato() %}
                                                    <li>{{contato.codigo}} {{contato.numero}}
                                                        <a href="{{ base_url }}/wp-json/cm/v1/contact/excluir?_wpnonce={{nonce}}"
                                                            class="btn btn-danger btn-sm ajaxLink"
                                                            data-id="{{ contato.id() }}">
                                                            <span class="dashicons dashicons-no"></span>
                                                        </a>
                                                        <button class="btn btn-info btn-sm editar-contato" type="button"
                                                            data-id_contato="{{contato.id}}"
                                                            data-codigo="{{contato.codigo}}"
                                                            data-id_people="{{ pessoa.getId() }}"
                                                            data-numero="{{contato.numero}}" data-toggle="modal"
                                                            data-target="#modalEditar">
                                                            <span class="dashicons dashicons-edit"></span>
                                                        </button>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm add-contato"
                                                    data-toggle="modal" data-target="#modalContato"
                                                    data-id="{{ pessoa.getID() }}">
                                                    Add Contato
                                                </button>
                                                <a href="{{base_url}}/wp-admin/admin.php?page=contact-management&action=editar&id={{ pessoa.getId() }}"
                                                    class="btn btn-info btn-sm">Editar Pessoa</a>
                                                <a href="{{ base_url }}/wp-json/cm/v1/people/excluir?_wpnonce={{nonce}}"
                                                    class="btn btn-danger btn-sm ajaxLink"
                                                    data-id="{{ pessoa.getId() }}">
                                                    <span class="dashicons dashicons-no"></span>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade detalhe-pedido" id="modalContato" tabindex="-1" role="dialog"
    aria-labelledby="modalDetalhesPedidoLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modalDetalhesPedidoLabel">Adicionar contato</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="ajaxDados" action="{{ base_url }}/wp-json/cm/v1/contact/novo?_wpnonce={{nonce}}" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1" style="display: block;">Codigo de area</label>
                                <select class="form-control" id="exampleFormControlSelect1" name="codigo" required>
                                    <option>Selecione uma opção</option>
                                    {% for key, item in country %}
                                    <option value="({{item.cod}})">{{item.nome}} ({{item.cod}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nome">Telefone</label>
                                <input type="text" class="form-control" id="telefone" name="telefone"
                                    placeholder="Telefone" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="base_url" id="base_url" value="{{ base_url }}">
                    <input type="hidden" name="nonce" id="nonce" value="{{nonce}}">
                    <input type="hidden" name="id_pessoa" id="id_pessoa">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade detalhe-pedido" id="modalEditar" tabindex="-1" role="dialog"
    aria-labelledby="modalDetalhesPedidoLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modalDetalhesPedidoLabel">Editar contato</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="ajaxDados" action="{{ base_url }}/wp-json/cm/v1/contact/editar?_wpnonce={{nonce}}" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlSelect2" style="display: block;">Codigo de area</label>
                                <select class="form-control" id="exampleFormControlSelect2" name="codigo" required>
                                    <option>Selecione uma opção</option>
                                    {% for key, item in country %}
                                    <option value="({{item.cod}})">{{item.nome}} ({{item.cod}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nome">Telefone</label>
                                <input type="text" class="form-control" id="telefone" name="telefone"
                                    placeholder="Telefone" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="base_url" id="base_url" value="{{ base_url }}">
                    <input type="hidden" name="nonce" id="nonce" value="{{nonce}}">
                    <input type="hidden" name="id_contato" id="id_contato">
                    <input type="hidden" name="id_people" id="id_people">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>

        </div>
    </div>
</div>