<div class="row" style="max-width: 100%;">
    <div class="col-12">
        <h1>Contatos</h1>
    </div>
    <hr>
</div>
<div class="row" style="max-width: 100%;" >
    <div class="col-md-12">
        <div id="poststuff" style="min-width: inherit;background: #fff">
            <div id="postbox-container-2" class="postbox-container">
                <div id="normal-sortables" class="meta-box-sortables ui-sortable">
                    <div id="lista-arquivo" class="postbox" style="background: #f7f7f7">
                        <div class="postbox-header">
                            <h2 class="hndle ui-sortable-handle" style="font-size: 1.5rem; padding: 10px;">Lista de Pessoas</h2>
                        </div>
                        <div class="inside">
                            <table id="lista-personalizada" class="table table-striped table-bordered"
                                role="presentation">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>E-mail</th>
                                        <th>Contatos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, pessoa in pessoas %}
                                    <tr>
                                        <td>{{ pessoa.getId() }}</td>
                                        <td>{{ pessoa.getNome() }}</td>
                                        <td>{{ pessoa.getEmail() }}</td>
                                        <td>
                                            <ul style="list-style: none;">
                                                {% for k, contato in pessoa.getContato() %}
                                                <li>{{contato.codigo}} {{contato.numero}}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>